/* ------------------- */
/* Custom Properties   */
/* ------------------- */
:root {
  /*  Primary Colors  */
  --clr-red: 0 78% 62%;
  --clr-cyan: 180 62% 55%;
  --clr-orange: 34 97% 64%;
  --clr-blue: 212 86% 64%;
  /*  Neutral colors  */
  --clr-darkBlue: 234 12% 34%;
  --clr-grayishBlue: 229 6% 66%;
  --clr-lightGray: 0 0% 98%;
  --clr-white: 0 0% 100%;
  /*  font-size  */
  --fs-600: 3rem;
  --fs-400: 2rem;
  --fs-200: 1rem;
  /*  font-family  */
  --ff-poppins: "Poppins", sans-serif;
  /*  font-weight  */
  --fw-600: 600;
  --fw-400: 400;
  --fw-200: 200;
}

/* ------------------- */
/* Reset               */
/* ------------------- */
/*  Box sizing  */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*  Reset Margins  */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  font-weight: 200;
}

/* h1,
h2,
h3,
h4 {
    margin-bottom: .5em;
} */
/* p {
    margin-bottom: .3em;
} */
/*  setup the body  */
body {
  font-family: var(--ff-poppins);
  font-size: var(--fs-200);
  color: hsl(var(--clr-grayishBlue));
  background-color: hsl(var(--clr-white));
  /* line-height: 1.7; */
  min-height: 100vh;
}

/*  make images easier to work with  */
img,
picture {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

/* make form elements easier to work with */
input,
button,
select,
textarea {
  font: inherit;
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */
.flex-vert {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  gap: var(--gap, 0.6rem);
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}

/* .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: var(--gap, 1.5rem);
} */
.container {
  /* padding-inline: 2em; */
  margin-inline: auto;
  max-width: 80rem;
  margin-top: 1em;
}

/*  Colors  */
.bg-red {
  background-color: hsl(var(--clr-red));
}

.bg-cyan {
  background-color: hsl(var(--clr-cyan));
}

.bg-orange {
  background-color: hsl(var(--clr-orange));
}

.bg-blue {
  background-color: hsl(var(--clr-blue));
}

.bg-darkBlue {
  background-color: hsl(var(--clr-darkBlue));
}

.bg-grayishBlue {
  background-color: hsl(var(--clr-grayishBlue));
}

.bg-lightGray {
  background-color: hsl(var(--clr-lightGray));
}

.bg-white {
  background-color: hsl(var(--clr-white));
}

.text-red {
  color: hsl(var(--clr-red));
}

.text-cyan {
  color: hsl(var(--clr-cyan));
}

.text-orange {
  color: hsl(var(--clr-orange));
}

.text-blue {
  color: hsl(var(--clr-blue));
}

.text-darkBlue {
  color: hsl(var(--clr-darkBlue));
}

.text-grayishBlue {
  color: hsl(var(--clr-grayishBlue));
}

.text-lightGray {
  color: hsl(var(--clr-lightGray));
}

.text-white {
  color: hsl(var(--clr-white));
}

/* typography */
.ff-poppins {
  font-family: var(--ff-poppins);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-200 {
  font-size: var(--fs-200);
}

.fw-600 {
  font-weight: var(--fw-600);
}

.fw-400 {
  font-weight: var(--fw-400);
}

.fw-200 {
  font-weight: var(--fw-200);
}

.header_ text {
  width: 40%;
  text-align: center;
}

/* ------ grid items ------- */
.cards {
  margin-top: 2em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: var(--gap, 1.5rem);
}

.card_item {
  border-radius: 2%;
  padding: 2em;
  box-shadow: 2px 2px 10px hsl(var(--clr-grayishBlue)/0.5);
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  gap: var(--gap, 1.2rem);
  justify-content: center;
  align-items: flex-start;
}

.card_item1 {
  border-top: 5px solid hsl(var(--clr-cyan));
  grid-area: 2/1/4/2;
}

.card_item2 {
  border-top: 5px solid hsl(var(--clr-red));
  grid-area: 1/2/3/3;
}

.card_item3 {
  border-top: 5px solid hsl(var(--clr-orange));
  grid-area: 3/2/5/3;
}

.card_item4 {
  border-top: 5px solid hsl(var(--clr-blue));
  grid-area: 2/3/4/4;
}

.card_icon {
  align-self: flex-end;
}

@media (max-width: 440px) {
  .statement {
    font-size: var(--fs-400);
    text-align: center;
    margin: 0 0.1em;
  }

  .header_title {
    font-size: var(--fs-400);
    text-align: center;
    margin: 0 0.4em;
  }

  .header_text {
    width: 100%;
    text-align: center;
    margin: 0 6em;
  }

  .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
  }
}

/*# sourceMappingURL=style.css.map */
